<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/head}">
</head>
<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="~{/fragments/navigation}">
    </header>

    <div class="info">
        <div></div>
        <div>
            <h4>За нас</h4>
            Добре дошли в нашия готварски уебсайт, където страстта към кулинарията се среща със споделената креативност!
            Нашият сайт предоставя уникална платформа, където готвачите от всички ъгли на света обменят вдъхновяващи и вкусни рецепти.
            От простички ежедневни ястия до изискани гурме изкушения, тук ще откриете неограничени възможности за кулинарно творчество.
            Разгледайте разнообразни категории, от пикантни предястия до сладкиши, и се вдъхновете от различни кулинарни традиции.
            Споделяйте своите собствени рецепти, давайте съвети за подправки и техники, и създавайте вкусни дискусии с общността ни от любители на готвенето.
            С нашия готварски сайт всеки може да стане кулинарен изследовател, да споделя своите гастрономични приключения и да се наслади на богатството на вкусовете, които светът на готварството предлага.
            Започнете своя кулинарен път с нас и се възползвайте от богатия опит на общността за постигане на перфектни резултати в кухнята!
        </div>
        <div></div>
    </div>

</div>
<!-- Wrapper Ends -->
</body>
<footer class="footer bg-blur rounded">
    <div class="container-fluid text-center">
        <div class="h5 text-white">
            &copy; Healtylicious. All rights reserved.
        </div>
    </div>
</footer>
</html>