<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/head}">
</head>
<body>
<div class="wrapper">
    <header th:replace="~{/fragments/navigation}"></header>

    <input type="hidden" name="recipeId" id="recipeId">
    <div class="details-main" th:object="${recipe}">
        <section class="recipe-info text-center">
            <h4 id="track-name" th:text="*{title}"></h4>

<!--            <p>Total distance: <span id="totalDistance">1000 (hard coded)</span> km</p>-->

            <p>Author name: <span id="cookName" th:text="*{cook.fullName}"></span></p>

<!--            <h4>Difficulty Level <strong th:text="*{level.ordinal + 1}"></strong>:</h4>-->

<!--            <div class="level">-->
<!--                <p th:each="i : ${#numbers.sequence(0, route.level.ordinal)}">-->
<!--                    <img class="level-img" src="/images/difficulty-level.png" alt="">-->
<!--                </p>-->
<!--            </div>-->


<!--            <div>-->
<!--                <h4>Choose picture</h4>-->
<!--                <form action="/" method="POST" enctype="multipart/form-data">-->
<!--                    <input type="hidden" id="id" name="recipeId">-->
<!--                    <div class="form-group">-->
<!--                        <label>-->
<!--                            <input type="text" name="title">-->
<!--                        </label>-->
<!--                    </div>-->
<!--                    <div class="image-upload">-->
<!--                        <label for="picture">-->
<!--                            <img src="/images/add-img.png" alt=""/>-->
<!--                        </label>-->
<!--                        <input style="display: none" id="picture" type="file" name="picture"/>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <button class="btn-primary rounded">Upload Picture</button>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->

        </section>

        <section class="recipe-ingredients">
            <h3>Ingredients:</h3>
            <ul>
                <li th:each="recipeIngredient : ${recipe.recipeIngredientList}">
                    <span th:text="${recipeIngredient.amount}"></span>
                    <span th:text="${recipeIngredient.measureUnit.type}"></span>
                    <span th:text="${recipeIngredient.ingredient.name}"></span>
                </li>
            </ul>
        </section>

<!--        <section id="map"></section>-->
<!--        <section id="video">-->
<!--            <iframe id="frame" th:src="'https://www.youtube.com/embed/' + *{video}">-->
<!--            </iframe>-->
<!--        </section>-->

        <section class="route-description text-center">
            <h4>Description:</h4>
            <p id="route-description" th:text="*{description}">Description: </p>
        </section>

        <section class="gallery">
            <img th:each="picture : *{pictures}"
                 th:src="${picture.url}"
                 class="rounded"
                 height="100%"
                 alt="">
        </section>



<!--        <p style="visibility: hidden">GPX Download: <a id="gpxDownload"></a></p>-->
    </div>
    <!-- Scripts: track and comments
    <script th:src="@{/js/track.js}"></script>
    <script th:src="@{/js/comments.js}"></script>
    -->
</div>
<footer class="footer bg-blur rounded">
    <div class="container-fluid text-center">
        <div class="h5 text-white">
            &copy; Healthylicious. All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>
