<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/head}">
</head>
<body>
<div class="wrapper">
    <header th:replace="~{/fragments/navigation}"></header>

    <input type="hidden" name="recipeId" id="recipeId">
    <div class="details-main" th:object="${recipe}">
        <section class="recipe-info text-center">
            <h4 id="track-name" th:text="*{title}"></h4>

            <p>Качено от: <span id="cookName" th:text="*{cook.fullName}"></span></p>

        </section>

        <section class="recipe-ingredients">

            <p>Категория: <span id="nameCategory" th:text="*{nameCategory}"></span></p>
            <p>Време за приготвяне: <span id="cookingTime" th:text="*{cookingTime}"></span></p>
            <p>Брой порции: <span id="servings" th:text="*{servings}"></span></p>

            <p>Количество - мерна единица - съставка</p>
            <ul>
                <li th:each="recipeIngredient : ${recipe.recipeIngredientList}">
                    <span th:text="${recipeIngredient.amount}"></span>
                    <a>-</a>
                    <span th:text="${recipeIngredient.measureUnit.type}"></span>
                    <a>-</a>
                    <span th:text="${recipeIngredient.ingredient.name}"></span>
                    <!--                    <span th:text="${recipe.recipeIngredientList.size()}"></span>-->
                </li>
            </ul>


        </section>

        <section class="recipe-description text-center">
            <h4>Инструкции:</h4>
            <p id="recipe-description" th:text="*{description}">Description: </p>
        </section>

    </div>

</div>
<footer class="footer bg-blur rounded">
    <div class="container-fluid text-center">
        <div class="h5 text-white">
            &copy; Healthylicious. All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>
