<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/head}">
</head>
<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="~{/fragments/navigation}">
    </header>

    <div class="card">
        <div th:each="recipe : ${recipes}" th:object="${recipe}">
            <div class="row no-gutters bg-light">
                <div class="col-md-2">
                    <img alt="Title image" width="250px" height="250px"
                         th:src="'data:' + *{imageType} + ';base64,' + *{imageBytes}">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title" th:text="*{name}">Your Recipe</h5>
                        <p class="card-text" th:text="*{description}"></p>
                        <a class="btn" th:href="@{/recipes/{id}(id=*{id})}">Научи повече</a>
                    </div>
                </div>
            </div>
            <div class="row col-12 pt-4"></div>
        </div>
    </div>


</div>
<!-- Wrapper Ends -->
</body>
<!--<footer class="footer bg-blur rounded">-->
<!--    <div class="container-fluid text-center">-->
<!--        <div class="h5 text-white">-->
<!--            &copy; Healthylicious. All rights reserved.-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->
</html>