<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/head}">
</head>
<body>
<main class="p-5 align-content-center bg-blur my-register-div">
    <h1 class="border-bottom">Регистрация</h1>
    <div class="d-flex justify-content-center ">
        <div class="row g-3">
            <form
                    th:action="@{/auth/register}"
                    th:method="POST"
                    th:object="${userRegisterForm}">
                <div>
                    <div class="col-auto">
                        <label for="inputUsername" class="col-form-label ">Потребителско име</label>
                    </div>
                    <div class="col-auto">
                        <input name="username" required
                               th:value="*{username}"
                               minlength="3" maxlength="20"
                               type="text"
                               id="inputUsername"
                               class="form-control"
                               aria-describedby="usernameHelpInline"
                               style="width: 300px;"/>
                        <small id="usernameError"
                               class="invalid-feedback bg-danger rounded">
                            Потребителското име трябва да има дължина по-голяма от 3 и по-малка от 20 символа.
                        </small>

                        <small id="usernameUniqueError"
                               th:if="${#fields.hasErrors('username')}"
                               class=" bg-danger rounded">Потребителското име вече е заето</small>

                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputFullName" class="col-form-label ">Пълно име</label>
                    </div>
                    <div class="col-auto">
                        <input name="fullName"
                               th:value="*{fullName}"
                               required minlength="5" maxlength="20"
                               type="text"
                               id="inputFullName"
                               class="form-control"
                               aria-describedby="fullNameHelpInline">
                        <small id="fullNameError"
                               th:if="${#fields.hasErrors('fullName')}"
                               class="invalid-feedback  form-text bg-danger rounded">
                            Имената трябва да имат дължина по-голяма от 5 и по-малка от 20 символа.</small>
                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputEmail" class="col-form-label ">Имейл</label>
                    </div>
                    <div class="col-auto">
                        <input name="email"
                               th:value="*{email}"
                               required
                               type="email"
                               id="inputEmail"
                               class="form-control"
                               aria-describedby="emailHelpInline">
                        <small id="emailError"
                               th:if="${#fields.hasErrors('email')}"
                               class="invalid-feedback  form-text bg-danger rounded">Имейлът трябва да бъде валиден.</small>
                    </div>
                </div>
                <div>
                    <div class="col-auto">
                        <label for="inputAge" class="col-form-label ">Възраст</label>
                    </div>
                    <div class="col-auto">
                        <input name="age" required
                               th:value="*{age}"
                               type="number"
                               id="inputAge"
                               class="form-control"
                               min="0" max="90"
                               aria-describedby="ageHelpInline">
                        <small id="ageError"
                               th:if="${#fields.hasErrors('age')}"
                               class="invalid-feedback  form-text bg-danger rounded">Годините трябва да бъдат валидни.</small>
                    </div>
                </div>
                <div>
                    <div class="col-auto">
                        <label for="inputPassword" class="col-form-label ">Парола</label>
                    </div>
                    <div class="col-auto">
                        <input name="password"
                               th:value="*{password}"
                               required minlength="5" maxlength="20"
                               type="password"
                               id="inputPassword"
                               class="form-control"
                               aria-describedby="passwordHelpInline">
                        <small id="passwordError"
                               th:if="${#fields.hasErrors('password')}"
                               class="invalid-feedback  form-text bg-danger rounded">
                            Паролата трябва да има дължина по-голяма от 5 и по-малка от 20 символа.
                        </small>
                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputConfirmPassword" class="col-form-label ">Потвърждение на парола</label>
                    </div>
                    <div class="col-auto">
                        <input name="confirmPassword"
                               th:value="*{confirmPassword}"
                               required minlength="5" maxlength="20"
                               type="password"
                               id="inputConfirmPassword"
                               class="form-control"
                               aria-describedby="confirmPasswordHelpInline">
                        <small id="confirmPasswordError"
                               th:if="${#fields.hasErrors('confirmPassword')}"
                               class="invalid-feedback  form-text bg-danger rounded">
                            Паролата трябва да има дължина по-голяма от 5 и по-малка от 20 символа и паролата трябва да е еднаква с горната.
                        </small>
                    </div>
                </div>

                <div class="d-flex justify-content-center mt-4">
                    <button class="btn btn-primary btn-block w-50" type="submit">Регистрирай се</button>
                </div>

            </form>
        </div>
    </div>
</main>

<footer th:replace="~{/fragments/footer}"></footer>

</body>
</html>